
<h1>Chat</h1>
<br>
<input type="text" id="mail">
<input type="text" id="mensaje">
<button onclick="enviarMensaje()">enviar</button>
<div id="contenedordatos"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="/chat.js"></script>