<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/cliente.css">

</head>
<body>
<h1>tutorial socket</h1>
<input type="text"  onkeyup="enviarCaracter(this)" id="ingreso">
<p id="parrafo"></p> 
<br>
<input type="text" id="frase">
<button onclick="enviarFrase()">enviar</button>
<div id="contenedorfraces"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="/cliente.js"></script>   
</body>
</html>